h1{
    color: crimson;
    margin-top: 0;
    padding-top: 0;
}

/*.heading{
    border: 3px solid darkorange;
 
}*/

p>i{
    color: darkred;
    font-weight: bold;
    font-size: x-large;
}

.points{
    color: darkred;
    line-height: 30px;
}

.cut{
    text-decoration: line-through;
}

.paint{
    background-color: yellow;
}

.linebelow{
    text-decoration: underline;
}

h1>i{
    color: blue;
}

.prepHome{
    background-color: yellow;
    text-decoration: none;
    font-style: italic;
}

a > img{
    height: 100px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

a:hover{
    color: chocolate;
    background-color: teal;
}



.ways{
    color: darkred;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px;
}

.mark{
    background-color: yellow;
    font-weight: bolder;
}

button{
    background-color: yellowgreen;
    font-size: 15px;
}